<%- include('partials/header'); -%>

<p>
  welcome <%= user %>
</p>

<div class="container">
  <!-- there will be a post -->
  <!-- post ends here -->
  <% postMaterial.forEach(function(element){%>
    <h3>
      <a href="/post/<%= element._id %>"><%= element.title %></a>
    </h3>
    <% var a = element.post %> <%= a.substring(0,100) %> ...
    <a href="/user/<%= element.UserId %>">
      <h5><i>by <%= element.name %> </i></h5> <h6> on <%= element.dateCreated %></h6>
    </a>
    <p>
  
      <form action="/like" method="post">
        <button style="border: none;" type="submit" name="liked" value=<%=element._id %>><i class="fa-solid fa-heart"></i></button>
         <%= element.like.length %>
      </form>
      <form action="/dislike" method="post">
         <button style="border: none;" type="submit" name="disliked" value=<%=element._id %>><i class="fa-sharp fa-solid fa-heart-crack"></i></button>
         <%= element.dislike.length %> 
      </form>
      <a href="/comment/<%= element._id %>"><i class="fa-solid fa-comment mx-2"></i></a>
  
    </p>
    <hr align="center">
  <% }) ; %> 
</div>
<!-- compose button -->
<div class="container my-3">
  <a href="/compose">
    <button class="btn">Add your post</button>
  </a>
</div>

<div class="container">
  <form action="/logout" method="post">
    <button class="btn">Log Out</button>
  </form>
</div>

<%- include('partials/footer'); -%>
