<%- include('partials/header'); -%>

<div class="container">
    <h4>Name </h4> <i><h5><%= user.fullname %></h5></i>
    <h4>Nick Name </h4> <i><h5><%= user.nickname %></h5></i>
    <h4>Bio </h4> <i><h5><%= user.bio %></h5></i> 
</div>

<%- include('partials/footer'); -%>

